Front End Developer 
Swoon-SS - Chicago, IL
Interactive Developer/Front End Developer-permanent opening
Our client is a rapidly growing marketing agency in the River North neighborhood of Chicago, IL.

Looking for junior web developers that are familiar with front end technologies including CSS, HTML, and Javascript to develop interactive websites and applications
Main responsibilities to include:
Work on long term client, and in-house projects
Collaborate with Technical Architects and Software Engineers to integrate display- and server-side code
Collaborate with Interactive Design Director to meet usability goals
Collaborate with Designers and Art Directors to implement brand identity
Create interactive, static, and parallax scrolling websites
Candidates should have 2+ years of Front End Development experience using HTML, CSS, and Javascript technologies
Agency experience preferred, not required
Job Type: Full-time

Required education:

Bachelor's
Required experience:

Agency: 1 year
Front End Development: 2 years
Web Development: 2 years