Requirements:

Proficiency in Photoshop or Sketch.
Proficiency in HTML, CSS, and JavaScript.
Knowledge of unique specs for various platforms (images designed for websites, Facebook, Instagram, mobile, etc.) including file type, size, image constraints and optimizing images for engagement.
Up-to-date with the latest web trends, techniques, and technologies.
Excellent written and verbal communications skill
Flexible and adaptable with the ability to work with integrated teams.
Previous experience with Backbone, Angular or React preferred
Experience with NodeJS preferred
Experience with inVision or similar product for creating interactive mockups preferred
Familiarity with Shopify preferred
Experience with Salesforce preferred
Additional Information:

Full time position
Casual dress and relaxed working environment
Other fashion perks!
Job Type: Full-time

Required education:

Bachelor's
Required experience:

Photoshop or Sketch, HTML, CSS, JavaScript: 1 year